package com.cengage.nglsync.runners;
import cucumber.api.CucumberOptions;
import cucumber.api.testng.AbstractTestNGCucumberTests;


@CucumberOptions(features="src/test/resources/features/SalesRepresentative/",
glue="com.cengage.nglsync.tests",
strict = $strict,
monochrome = $monochrome,
plugin = {"pretty", "html:target/cucumber-reports", 
		"json:target/cucumber.json"}
			)
			
public class TestRunner extends AbstractTestNGCucumberTests{

	}
	